<header>
    <nav>
        <ul>
            <button mat-flat-button color="primary" style="margin: 0 10px;">Home</button>
            <button mat-flat-button color="primary" style="margin: 0 10px;">About Us</button>
            <button mat-flat-button color="primary" style="margin: 0 10px;">Tickets</button>
            <button mat-flat-button color="primary" style="margin: 0 10px;">Clubs</button>
            <button mat-flat-button color="primary" style="margin: 0 10px;">Contact Us</button>
            <button mat-flat-button color="primary" style="margin: 0 10px;">Need Help?</button>
        </ul>
    </nav>
</header>